@import "index.scss";
   



.content{
 
    width:$content-width;
    margin:20px auto;
    margin-top:25px;
    background-color: $title-color;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    
    
   
    &__picture{
        width:100%;
        height:auto;
        margin:0 auto;
        display: flex;
        justify-content: center;
    }
    
   

    &__about,
    &__news{
        width:$content-width;
        margin:0 auto;
        font-family: $text-font;
        margin-block-start: 20px;
        
    }

   

    article{
        margin-bottom: 40px;
        display:flex;
        flex-direction:column;
        align-items: center;
       
}


   
 .video{
    margin-block-start: 20px;
    
 }

    &__titles{
        border-bottom: 1px solid $dark-grey;
        padding-bottom: 5px;
        font-size: $txt-regular;
        font-family: $menu-font;
        width:100%;
        
    }

    &__paragraph{
        margin-block-start: 10px;
        
    }

    //-------------------------------------------media queries
    @media(width < $phone){

      
      .video{
        transform: scale(0.6); 
        
      }

       
    }

    
        @media( width > $phone) and (width <=$tablet){
           
            &__info{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }

            .video{
                transform: scale(0.7); 
                
              }
        }
        
        @media(width > $tablet) and (width <= $laptop) {
            &{
                width:80%;
            }
            .video{
                transform: scale(0.8); 
                
              }
        }

        @media(width > $laptop) and (width < $desktop){
            &{
                width:70%;
            }
        }

        @media(width > $desktop){
            &{
                width:50%;
                
            }
       
        }

}//end content
   
   
   
picture{
margin-block-start: 25px;
}
   
   
