 
 @import "index.scss";
 
 //footer
 .footer{
  
    width: 100%;
    background-color: $dark-grey;
    height:fit-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  

    &__navigation{
    
        display:flex;
        justify-content: center;
        align-items: center;
        font-family: $menu-font;
        gap:20px;
    
       
        
        a{
           
            color:white;
            cursor:pointer;
            font-size:$txt-big;
            &:hover{
                opacity:.5;
                transition:opacity .3s ease;
            }
           
        }
    }

    &__social{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        
    }

    &__icons{
        padding-top:15px;
        display:flex;
        justify-content: center;
        align-items: center;
        gap:15px;
        width:100%;
       

       // background-color: rgb(85, 80, 79);
    
      
    
        img:hover{
            opacity:.5;
            transition:opacity .3s ease;
           
        }
    
    
    
    }

    &__copyright{
       
        margin-block-start: 10px;
        color:white;
        font-family: $text-font;
        padding-bottom: 5px;
      
        a{
            color:white;
            text-decoration: none;
        }
    
         a:hover{
             opacity:.5;
             transition:opacity .3s ease;
            
         }
    }


    

}