@import 'index.scss';


body{
  background-color: $title-color;
}
.content{
  background-color: $title-color;
    width:$content-width;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


&__central{
    display:flex;
    justify-content: center;
    
}

    img{
      width:100%;
      height: 100%;
      object-fit:cover;
      object-position: 60% 20%;
      transition: .25s;
      //cursor: pointer;
     
      &:hover {
        transform: scale(110%);
      }
    }

  &__parent{
      padding: 20px;
      background: rgb(0, 0, 0);
      height: 75vh;
      min-height: 500px;
      max-width:840px;
      width: 80%;
      border: 1px solid #c9b473;
      overflow: hidden;
      display: grid;
    
      grid-template-columns: 25% 25% 25% 25%;;
      grid-template-rows: 25% 25% 25% 25%;
      grid-template-areas: 
        'one one two two'
        'four four four four'
        'four four four four'
        'five five three three';
    }
    
    
    &__child{
      &:first-child{
        grid-area: one;
        clip-path: polygon(0% 0%, 93.24% 0%, 105.04% 100.16%, 0% 90%);
      }
      &:nth-child(2){
        grid-area: two;
        clip-path: polygon(0% 0%, 108.28% 0%, 96.45% 110.13%, 10.55% 110.93%);
     
      }
      &:nth-child(3){
        grid-area: three;
        clip-path:polygon(10% 0%, 100% 0%, 99.35% 91.7%, 0% 108.48%);
        img {
        
          object-position: 20% 10%;
        }
      }
      &:nth-child(4){
        grid-area: four;
        clip-path: polygon(0% -0.85%, 160% 9.98%, 121.32% 65.63%, 99.66% 95%, 0% 98%);
    
      }
      &:nth-child(5){
        grid-area: five;
        clip-path: polygon(0% 0%, 100% 0%, 89.2% 100%, 8.4% 100%, 0% 78.8%);
        img {
      
             object-position: 90% 10%;
        }
      }
     
    }
    

    &__social{
      display:flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      gap:15px;
      width:50px;
    
 
    
    

    a{
        &:hover{
        opacity:30%;
        transition:opacity .3s ease;
       
      }  
   
    }

    .img__icon{
      width:25px;
      height:auto;
      
     }
}

}//end content





