
@import "index.scss";



.topnav{
    display:flex;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    margin-top:5px;
    padding-block:1.5rem; 
    width:$content-width;

    @media(width >= $tablet){
        justify-content: center;
        gap:50px;
    }

    @media(width < $tablet){
        justify-content: space-around;
    }

 
   
    &__open{
        z-index:20;
        @media( width > $tablet) {
            display:none;
        
        }
    }


    &__menu{
        font-family: $menu-font;
        text-decoration: none;

        @media (width < $tablet){
            background-color:  $dark-grey;
            height: 100vh;
            width: 100%;
            position: fixed;
            top: 0;
            right: -100%;
            display: flex;
            flex-direction: column;
            align-items: center;    
            justify-content: flex-start;
            text-align: center;
            transition: .5s ease;
            color:$title-color;
            z-index:1;
             #first-child{
                margin-top: 100px;
             }
            
        }

    }


    &__links{
       font-size: $txt-medium;
        text-decoration: none;
      
       
        @media (width > $laptop) {    
            font-size: $txt-big;
        }

        @media (width >=  $tablet){    
            color:$dark-grey;
            display:flex;     
          
           
        }

        @media (width <  $tablet){    
            color:$title-color;
            font-size: $txt-huge*1.5;
          
           
        }

    }

    &__item{
        padding:10px;
        cursor:pointer;
       
        
        &:hover{
            opacity:.5;
            transition:opacity .3s ease;
        }
       
        
    }

  

    &_menu,
    &__active{
        right:0;
     
       
    
    }

   

    &__actual{
        text-decoration: underline;
    }

   
    



    .social{
        display:flex;
        justify-content: center;
        align-items: center;
        gap:15px;

        height:100%;
    
       img{
            width:32px ;
        }
    
     
         a:hover{
             opacity:.5;
             transition:opacity .3s ease;
            
         }

        @media( width > $tablet) {
            display:none;
        
        }

    } 



    &__titletop{
        display: block;
        text-align: center;
        font-family: $menu-font;
        font-size:$txt-huge;
        margin-block-end: 20px;
        font-weight: 300;
        font-stretch: extra-expanded;
        letter-spacing: 0.25em;

        // &::first-letter{
        //     color:red;
        // }
    
        
       &::after{
        content: "";
        display: block;
        width: 100px;
        background-color:$dark-grey;
        height: 2px;
        margin:20px auto;
       }
        @media (width <  $tablet){    
           
            font-size: $txt-medium;
          
           
        }
    
    
    }








}//end topnav--------------------------------------------------




//MENU HAMBURGUESA
.hamburguer-ct 
{
  cursor: pointer;
  height: fit-content;
  width: 100px;
  transition: all .2s ease-out;
  z-index:2;
  padding:10px;
 
}



.on{
    position:absolute;
    top:5%;
    left:70%;
    position:fixed;
    overflow: hidden;
   
}

.hamburguer-ct 
.hamburguer-ct-stripe {
  width: 100%;
  height: 10px;
  background: $dark-grey;
  margin: 8px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
  
}




.hamburguer-ct.on div:nth-child(1){ 
    transform: rotate(45deg) translate(18px, 18px);;
    background: $title-color;
   
}
      
 .hamburguer-ct.on div:nth-child(2)
  {
    opacity: 0;
  }
  
  .hamburguer-ct.on div:nth-child(3)
 {
    transform: rotate(-45deg) translate(8px, -8px);
    background: $title-color;
   
  }
